body {
	background-color: #F5F5F5;
	font-family: 'Roboto', sans-serif;
	color: #424242;
	padding-top: 32px;
	padding-bottom: 32px;
}

h1 {
	font-size: 1.3em;
	font-weight: 400;
}

h2 {
	font-size: 1.2em;
	font-weight: 400;
}

p {
	font-weight: 300;
}

button {
	font-size: 1.2em !important;
}

strong {
	font-weight: 500;
}



